html {
    height: 100%;
}

body {
    background: #64b5f6 !important;
    min-height: 100%;
}

.canvas {
    margin: auto auto;
    position: relative;
    top: 30px;
}

.App {
    padding: 10px;
}

.btn {
    margin-right: 10px;
}